<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google" value="notranslate">
    <link rel="shortcut icon" href="static/favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <% if (htmlWebpackPlugin.options.sentryConfig) { %>
        <!-- Sentry error logging to help with finding bugs -->
        <script src="https://cdn.ravenjs.com/3.22.1/raven.min.js" crossorigin="anonymous"></script>
        <script>
            Raven.config(<%= htmlWebpackPlugin.options.sentryConfig %>).install();
        </script>
        <!-- /Sentry -->
    <% } %>
  </head>
  <body>

  <script>


      window.projectId = 2485;
      window.projectInfo = {
          "id": 2485,
          "name": "Scratch作品",
          "user_id": 15,
          "version": 0,
          "oss_key": "scratch3/67",
          "create_on": "2019-04-16 11:49:05",
          "create_by": null,
          "update_on": "2019-04-30 12:48:50",
          "update_by": null,
          "thumbnail_key": "thumbnail/67",
          "is_delete": 0,
          "is_publish": 0,
          "introduction": null,
          "operation_notice": null,
          "tags": null,
          "task_id": 0,
          "course_id": 0,
          "view_count": 0,
          "up_count": 0,
          "is_open": 0,
          "is_editable": 1,
          "canSave": true,
          "canRemix": true,
          "canEditTitle": true,
          "authorId": '343',
          "authorUsername": "云启智酷毛老师",
          "authorThumbnailUrl": "https://yunheng-hacker.oss-cn-hangzhou.aliyuncs.com/users/15/profile/47cb5e80b5165042d66877578b8aa4d7",
          "url": "https://yunheng-blockly.oss-cn-hangzhou.aliyuncs.com/scratch3/67"
      }
  </script>

  </body>
</html>
